/* html{
    background-image: url("../assets/img/backgrd.jpg") !important;
    background-size: 100%;

};

#home{
    font-size: 1000px !important;
}

/* #test{
    /* font-size: 1000px;
} */

/* 
.w3-padding-24 {
    overflow: hidden;
} */

/* .logo-container {
    background-image: url(../assets/img/veggieswap.png);
      width: 300px; 
    height: 88px;
     position: relative;
     align-self: auto; */ 
     /* padding: 200px; */
    /* position: absolute;
    border: 50px; */
    /* border-left: 50%; */
/* left: 30px; */
/* text-align: center !important;
background-image: url(../assets/img/veggielogo4.jpg);
height: 100px;
width:100px;
align-content: center !important;
 } 