.list-group-item {
  line-height: 2.5;
}

.offerImage {
  border: 1px solid black;
  height:40px;
  width: 40px;
  border-radius: 20px;
  margin: 10px
}

.offerBox {
  border: 1px solid black;
  width:90%;
  padding: 10px;
  padding-left:20px;
  margin: 10px;
  border-radius: 8px;
  text-align: center;
}

.offerBox:hover{
  cursor: pointer;
  background-color: rgb(135, 216, 135);
  color:white;
  /* border-color: darkolivegreen; */
  border:4px solid darkolivegreen;
}
.offers {
  display: inline-block;
  width: 45%;
}
.offerrer {
  margin-top: 5px;
}
.offerSection {
  align-items:center;
}

#offerbutton {
  align-items: center;
}

#makeOffer, #makeWant{
  padding: 20px;
  width:80%;
  text-align: center;
  margin:auto;
  border: 2px solid gray;
  border-radius: 5px;

}

#makeOffer:hover{
  background-color: rgb(135, 216, 135);
}

#makeWant:hover{
  background-color:  rgb(135, 216, 135);
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid lightgray;
}

input:focus {
  border-bottom: none;
} 
input:valid {
  border-bottom: none;
}

.and {
  text-align:center;
  padding: 10px;
  text-emphasis-color: black;
}

.offerButton {
  align-items:center;
  border:2px solid gray;
  /* display:block; */
  border-radius:5px;
  margin:auto;
  margin-top:20px;
  padding:10px;
}

.offerButton:hover {
  cursor: pointer;
  background-color: rgb(135, 216, 135);
  color:white;
}

.submitOffer {
  text-align: center;
}

/* johdi css */
.background{
  background-image: url("/images/backgrd.jpg") !important;
  background-size: 100%;

};

#home{
  font-size: 1000px !important;
}

/* #test{
  /* font-size: 1000px;
} */


.w3-padding-24 {
  overflow: hidden;
}

.logo-container {
  background-image: url("/images/veggieswap.png");
    width: 300px; 
  height: 176px;
   position: absolute;
   align-self: auto;
   background-repeat: no-repeat;
   top: 15%;
   left: 10%;
   /* padding: 200px; */
  /* position: absolute;
  border: 50px; */
  /* border-left: 50%; */
/* left: 30px; */
/* text-align: center !important;
background-image: url(../assets/img/veggielogo4.jpg);
height: 100px;
width:100px;
align-content: center !important; */
}


h5{
  text-shadow: 1px 1px black;
}

#borderimage{
  border: 40px solid;
  padding: 15px;
  border-image: url("/images/borderimg.jpg") 70 round;
  background: rgb(196, 178, 178);
}

#makeOffer{
  border-color: black;
  background: white;
}

#makeWant{
  border-color: black;
  background: white;
}
